*{
    margin: 0;
    padding: 0;
    background-color:rgb(221, 235, 235);

}

h1,h2,h3{
    color: rgb(49, 49, 52);
}

body{
    display: flex;
    justify-content: center;
}
 

.profilePage{
   
    width: 900px;
    height: 400px;
}

.introduction{
  
    width: 900px;
   height: 800px;
}
.name{
  
    text-align: center;
    
}
.email{
   
    text-align: center;
}
.fullname{
    margin-top: 20px;
   
    margin-left: 50px;
}
.nikname{
   
    margin-left: 50px;
}
.skills{
   
    margin-left: 60px;
    margin-top: 20px;
}
.education{
   
    margin-left: 60px;
    margin-top: 30px;
}
.address{
   
    margin-left: 60px;
    margin-top: 30px;
}
.project{
   
    margin-left: 60px;
    margin-top: 30px;
}
.hobbis{
   
    margin-left: 60px;
    margin-top: 30px;
}
.bio{
   
    margin-left: 60px;
    margin-top: 30px; 
}
